@font-face {
    font-family: Varela Round;
    src: url(VarelaRound-Regular.ttf);
  }
/*   
  @font-face {
    font-family: Lato;
    src: url(Lato-Regular.ttf);
  } */
  
  @import url("https://fonts.googleapis.com/css?family=Varela-Round' rel='stylesheet");
  
  html {
    /* margin-left: 10%;
    margin-right: 10%; */
    font-family: 'Varela Round', sans-serif;
    width: auto;
    color: #c044a3;
    background-color: #3c0437;
    /* background-image: linear-gradient(180deg, #2d043c, #d3297b);
     background-attachment: fixed; */
  }
  
  h1 {
    color: #ff2374;
    font-size: 50px;
    margin-right: 10%;
    margin-left: 10%;
  }

  h2 {
    color: #fdafcb;
    font-size: 25px;
    margin-right: 10%;
    margin-left: 10%;
  }
  
  p {
    font-size: 18px;
    line-height: normal;
    margin-right: 10%;
    margin-left: 10%;
    line-height: 1.4;
  }
  
  a {
    color: #d62b90;
    text-decoration: none;
  }
  
  a:hover {
    color: orange;
  }
  
  ul {
    list-style: none;
    text-align: center;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
  }
  
  li{
    /* list-style-image: url(./assets/bullet.webp); */
    margin-left: 10%;
    font-size: 18px;
    
  }
  
  ::selection {
    color: #2d043c;
    background: #ff2374;
  }
  
  .active {
    color: orange;
  }

  .navbar {
    overflow: hidden;
    background-color: #3c0437;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: right;
    display: block;
    color:#d62b90;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    color:orange;
  }

  .main {
    padding: 16px;
    margin-top: 30px;
  }  

  #logo{
    position:absolute;
    top:20px; 
    left:100px;
    width:200px;
    height:50px;
    overflow:hidden;
}

#logo {
  animation: wiggle 2s linear;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.side-side {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  /* margin-right: auto; */
  /* background-color: #2d043c; */
   width:90%;
  padding-top: 10%; 
  padding-left: 50px; 
}

.side1 {
  text-align: center;
  font-size: 50px;
}

form {
  margin: 35px;
}

.contact-box {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 500px;
  border: 1px dotted;
  border-color: #d62b90;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  border-radius: 14px;
}

.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid;
  border-radius: 14px;
  outline:none;
}

.textarea-field
{
  height: 150px;
  padding-top: 10px;
}

.btn {
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;
  background-color: #3c0437;
  font-size: 12px;
  border-color: #d62b90;
}

  footer {
    margin: auto;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 5%;
    margin-bottom: 50px;
    /* color:#2d043c; */
  }

  
  /**mobile friendly*/
  @media screen and (max-width: 800px) {
 
  }
  